body {
    background: #fff;
    font-family: Helvetica;
    font-style: normal;
    border-top: 50px solid #424242;
    margin: 0;
    color: #424242;
}

main {
    margin: 0 auto;
}


a:hover {
    opacity: .75;
}

.top, .top a {
    display: flex;
    flex-direction: row;
    flex-grow: 1;   
    flex-basis: 0;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    color: #424242;
    margin-top: 10px;
    align-content: center;
}

.arr {
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.arr div {
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 3em;
    text-decoration: none;
    color: #424242;
}

.top img {
    width: 6%;
    height: 6%;
}

.imageFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imageFlex div {
    flex: 1 1 auto;
    background: #eee;
    margin: 10px;
    border-radius: 25px;
    max-width: 25%;
    max-height: 25%;
}

.imageDetail {
    width: 30%;
    height: 30%;
    margin: 0 auto;
}

.imageDetail div {
    margin-top: 10px;
}

.imageDesc {
    background-color: #eee;
    border-radius: 25px;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 650;
    line-height: 1.5em;
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.red {
    color: red;
}
